<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Preguntas</title>
  </head>
  <body>
    <h2>Quiz Clara y Vero</h2>
    <table>
      <% var i; for (i=0; i<quizes.length; i++) { %>
       <tr>
         <% if (session.user) {
              if(fav) {
                if (favs[i]) { %>
                   <td><form method="post" action="/user/<%= session.user.id %>/favourites/<%= quizes[i].QuizId %>?_method=delete">
                     <input type="image" src="http://vignette1.wikia.nocookie.net/pespedia/images/5/5e/Estrella.png/revision/latest?cb=20140422162734&path-prefix=es" onMouseOver="http://cdn.flaticon.com/png/256/16666.png" onMouseOut="http://vignette1.wikia.nocookie.net/pespedia/images/5/5e/Estrella.png/revision/latest?cb=20140422162734&path-prefix=es" alt="Submit" width="30" height="30">
                   </form>
                 </td>
                 <% } else { %>
                   <td><form method="post" action="/user/<%= session.user.id %>/favourites/<%= quizes[i].QuizId %>?_method=put">
                     <input type="image" src="http://cdn.flaticon.com/png/256/16666.png" onMouseOver="http://vignette1.wikia.nocookie.net/pespedia/images/5/5e/Estrella.png/revision/latest?cb=20140422162734&path-prefix=es" onMouseOut="http://cdn.flaticon.com/png/256/16666.png" alt="Submit" width="30" height="30">
                   </form>
                 </td>
                <% }
              }
              else {
                if (favs[i]) { %>
                   <td><form method="post" action="/user/<%= session.user.id %>/favourites/<%= quizes[i].id %>?_method=delete">
                     <input type="image" src="http://vignette1.wikia.nocookie.net/pespedia/images/5/5e/Estrella.png/revision/latest?cb=20140422162734&path-prefix=es" onMouseOver="http://cdn.flaticon.com/png/256/16666.png" onMouseOut="http://vignette1.wikia.nocookie.net/pespedia/images/5/5e/Estrella.png/revision/latest?cb=20140422162734&path-prefix=es" alt="Submit" width="30" height="30">
                   </form>
                 </td>
                 <% } else { %>
                   <td><form method="post" action="/user/<%= session.user.id %>/favourites/<%= quizes[i].id %>?_method=put">
                     <input type="image"  src="http://cdn.flaticon.com/png/256/16666.png" onMouseOver="http://vignette1.wikia.nocookie.net/pespedia/images/5/5e/Estrella.png/revision/latest?cb=20140422162734&path-prefix=es" onMouseOut="http://cdn.flaticon.com/png/256/16666.png" alt="Submit" width="30" height="30">
                   </form>
                 </td>
                <% }
              }
            }
          else { %>
            <td>
              
            </td>
      <% }
        if(fav) { %>
           <td><a href="/quizes/<%= quizes[i].QuizId %>"><%= quizes[i].pregunta %></a></td>
         <% } else { %>
           <td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
         <% }

             if (session.user && (session.user.isAdmin || (session.user.id === quizes[i].UserId))) {
               if(fav) { %>
             <td>
               <a href="/quizes/<%= quizes[i].QuizId %>/edit">
                 <button>
                   Editar
                 </button>
               </a>
             </td>
             <td>
                <form method="post" action="/quizes/<%= quizes[i].QuizId %>?_method=delete">
                  <button type="submit" onClick="return confirm('Comfirme que desea borrar: <%= quizes[i].pregunta %> - <%= quizes[i].respuesta %>');">
                    Borrar
                  </button>
                </form>
              </td>
              <% }
              else { %>
                <td>
                  <a href="/quizes/<%= quizes[i].id %>/edit">
                    <button>
                      Editar
                    </button>
                  </a>
                </td>
                <td>
                   <form method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">
                     <button type="submit" onClick="return confirm('Comfirme que desea borrar: <%= quizes[i].pregunta %> - <%= quizes[i].respuesta %>');">
                       Borrar
                     </button>
                   </form>
                 </td>
            <% }
          } %>
       </tr>
      <% } %>
    </table>
    <% if (session.user) { %>
      <a href="/quizes/new"><button type="button">Crear pregunta</button></a>
    <% } %>
  </body>
</html>