<!DOCTYPE html>
<html>
  <head>
    <meta chatset="utf-8">
    <title>Quiz Edav</title>
    <link rel="shortcut icon" href="https://cdn3.iconfinder.com/data/icons/brain-games/128/Puzzle.png" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Quiz Edav</h2>

    <% if (quiz.image) { %>
      <p><img class="quiz_img" src="/media/<%= quiz.image %>"></p>
    <% } %>

    <form method="get" action="/quizes/<%= quiz.id %>/answer">
      Pregunta: <%= quiz.pregunta %> <p>
        <input type="text" name="respuesta" placeholder="Responda aquí"/>
        <input type="submit" value="Enviar"/>
    </form>

    <p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>

        <p><strong>Comentarios:</strong></p>
        <% for(index in quiz.Comments){ %>
          <% if(quiz.Comments[index].publicado){ %>
            <p>>> <%= quiz.Comments[index].texto %>
             <% } else if (session.user && (session.user.isAdmin || (quiz.UserId === session.user.id))) { %>
                <p>>> <%= quiz.Comments[index].texto %>
                <a href="/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>/publish"><button>Publicar</button></a>
              <% } %>
            </p>
        <% } %>

  </body>
</html>